<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="methods" thread-count="2">
  
  <listeners>
  <listener class-name="Com.GeneoStudent.ExtentReportListener.ExtentReporterNG" />
  </listeners>
  
  <test name="Regression 1">
    <classes>
     <class name="Com.GeneoStudent.Testcases.Cover_Page_Change_Password_Test">
   		<!-- <methods>
          <include name="Cover_Page_Help_W_Close_Button_Test" />
       </methods>  -->
      <!-- <class name="Com.GeneoStudent.Testcases.Index_Page_Test">
   		<methods>
          <include name="Index_Page_menu_Lock_Screen_Button_Test" />
        </methods>  -->
      </class>
    </classes>
  </test>
</suite>